<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite" preserve-order="true">
    <test name="authorization">
        <parameter name="browser" value="chrome"/>
        <classes>
<!--            <class name="autho.signin.SignInNegativeTests"/>-->
<!--            <class name="autho.signin.SignInPositiveTests">-->
<!--                <methods>-->
<!--                    <include name="verifyTopPanelIsVisible"/>-->
<!--                    <include name="verifySignInWithCorrectEmailAndPassword"/>-->
<!--                </methods>-->
<!--            </class>-->

<!--            <class name="autho.signup.SignUpNegativeTests"/>-->
<!--            <class name="autho.signup.SignUpPositiveTests"/>-->

<!--            <class name="autho.forgot_password.ForgotPasswordNegativeTests"/>-->
<!--            <class name="autho.forgot_password.ForgotPasswordPositiveTests"/>-->

            <class name="home.HomeNegativeTests"/>
            <class name="home.HomePositiveTest"/>

<!--            <class name="welcome.WelcomeNegativeTests"/>-->
<!--            <class name="welcome.WelcomePositiveTests"/>-->
        </classes>
    </test>

</suite>

