<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite" >
    <test name="chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
<!--            <class name="signin.SignInPositiveTest"/>-->
<!--            <class name="signin.SignInNegativeTest"/>-->
<!--            <class name="signup.SignUpNegativeTest"/>-->
<!--            <class name="signup.SignUpPositiveTest"/>-->
<!--            <class name="forgotpassword.ClickGoToSignInButtonTest"/>-->
<!--            <class name="forgotpassword.ForgotPasswordPositiveTest"/>-->
<!--            <class name="forgotpassword.ForgotPasswordNegativeTest"/>-->
            <class name="home.HomePagePositiveTest"/>

        </classes>
    </test>
</suite>

